#header{
  height: 75px;
  display: flex;
  align-items: center;
  background: #ffffff;
  box-shadow: 0 2px 4px 0 rgba(188, 188, 188, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9;
  width: 100%;
  &.is-fixed{

  }
  &.is-show-menu{
    .logo{
      position: relative;
      a{
        opacity: 0;
        visibility: hidden;
      }
      .control-menu-mb{
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        .lines__second{
          display: none;
        }
        .lines__first{
          transform: rotate(45deg);
        }
        .lines__last{
          transform: rotate(-45deg);
          position: relative;
          top: -3px;
        }
        .text{
          display: none !important;
        }
      }
    }
    .menu{
      right:0 !important;
    }
  }
  .cart-mb{
    position: relative;
    margin-right: 20px;
    top: -3px;
    i{
      color: #1cd1ff;
      font-size: 25px;
    }
    .amount{
      display: inline-flex;
      align-items: center;
      justify-content: center;
      font-size: 12px;
      color: #ffffff;
      background-color: #ff3f7c;
      position: absolute;
      top: -5px;
      right: -6px;
      width: 15px;
      height: 15px;
      border-radius: 50%;
    }
  }
  .wrapper{
    @media(min-width: 768px){
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    .logo{
      display: flex;
      justify-content: space-between;
      align-items: center;
      //padding: 20px 0;
      a{
        img{
          width: 125px;
          @media(min-width: 992px){
            width: 175px;
          }
        }
      }
    }
    .menu{
      box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.5);
      position: fixed;
      top: 0;
      right: -100%;
      width: calc(100% - 60px);
      height: 100%;
      z-index: 2;
      background: #ffffff;
      padding: 20px;
      transition: all .5s ease;
      @media(min-width: 768px){
        position: static;
        height: initial;
        width: initial;
        box-shadow: none;
        padding: 0;
      }
      > ul{
        > li{
          margin-bottom: 20px;
          @media(min-width: 768px){
            display: inline-block;
            margin: 0 5px;
            padding: 0 !important;
            border: none !important;
          }
          @media(min-width: 992px){
            margin: 0 0 0 20px;
          }
          &:first-child{
            border-bottom: 1px solid #dddddd;
            padding-bottom: 20px;
          }
          &.cart{
            font-weight: 700;
            font-size: 18px;
            color: #1cd1ff;
            margin-left: 40px;
            cursor: pointer;
            position: relative;
            .icon{
              position: relative;
              display: inline-block;
              i{
                font-size: 25px;
                margin-right: 10px;
              }
              .amount{
                position: absolute;
                width: 15px;
                height: 15px;
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: #ff3f7c;
                color: #ffffff;
                border-radius: 50%;
                font-size: 12px;
                top: -4px;
                right: 4px;
              }
            }
            .cart-content{
                @media(min-width: 992px){
                  width: 315px;
                  border-radius: 20px;
                  position: absolute;
                  top:70px;
                  right: 0;
                  background-color: #ffffff;
                  padding: 20px;
                  opacity: 0;
                  visibility: hidden;
                  transition: all .5s ease;
                  &.is-showed{
                    opacity: 1;
                    visibility: visible;
                  }
                  &:after{
                    width: 0px;
                    height: 0px;
                    border-left: 7px solid transparent;
                    border-right: 8px solid transparent;
                    border-bottom: 12px solid #ffffff;
                    content: '';
                    display: block;
                    position: absolute;
                    right: 45px;
                    top: -11px;
                  }
                  ul{
                    li{
                      font-weight: 400;
                      color: #666666;
                      width: 100%;
                      border-bottom: 1px solid #666666;
                      padding-bottom: 20px;
                      margin-bottom: 20px;
                      .name{
                        img{
                          margin-right: 5px;
                        }
                        span{
                          font-size: 14px;
                        }
                      }
                      .price{
                        display: flex;
                        justify-content: space-between;
                        padding-left: 22px;
                      }
                    }
                  }
                  .total-price{
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    margin-bottom: 20px;
                    span{
                      font-weight: 400;
                      color: #333333;
                    }
                    b{
                      font-weight: 700;
                      color: #ff3f7c;
                    }
                  }
                  .btn-checkout{
                    background-image: linear-gradient(to right, #fe5a75, #fd9266);
                    width: 100%;
                    font-weight: 700;
                    color: #ffffff;
                    font-size: 18px;
                  }
                }
            }
          }
          a{
            display: inline-block;
            font-size: 16px;
            color: #333333;
            @media(min-width: 768px){
              width: 150px;
              text-align: center;
              border: 1px solid;
              padding: 10px 0;
              border-radius: 25px;
              font-weight: 700;
              font-size: 18px;
              &.register-btn{
                background-image: linear-gradient(to right, #fe5a75, #fd9266);
                color: #ffffff;
              }
              &.login-btn{
                border: solid 1px #fe5a75;
                color: #fe5a75;
              }
              &.active-btn{
                border: solid 1px #1cd1ff;
                color: #1cd1ff;
              }
            }
            img{
              width: 20px;
              margin-right: 10px;
              @media(min-width: 768px){
                display: none;
              }
            }
            &.register-btn{}
            &.login-btn{}
            &.active-btn{}
          }
        }
      }
    }
  }
  .lines{
    left: 0;
    top: 0;
    transform: translateY(0);
    transition: all .5s ease;
    display: flex;
    .text{
      margin-right: 10px;
    }
    //&.open-menu{
    //  .lines__second{
    //    display: none;
    //  }
    //  .lines__first{
    //    transform: rotate(45deg);
    //  }
    //  .lines__last{
    //    transform: rotate(-45deg);
    //    position: relative;
    //    top: -3px;
    //  }
    //}
    span{
      background: #E46586;
      width: 28px;
      height: 3px;
      display: block;
      transform: rotate(0deg);
      transition: all .5s ease;
    }
    &__first{}
    &__second{
      margin: 5px 0;
    }
  }
}
